.slider-container {
    margin-top: 30px;
}

/* noUiSlider */
.noUi-connect {
    /* BG_BLUE */
	background: #4266e4;
}
#slider.error .noUi-connect {
    background: red;
}
#slider.warn .noUi-connect {
    background: rgb(255, 217, 0);
}

/* Modules */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                        supported by Chrome, Edge, Opera and Firefox */
}
.red {
    color: red;
}